.studnet{
  width: 32%;
  padding: 20px 30px;
  border: 1px solid #c1c1c1;
  border-radius: 15px;
  margin-bottom: 15px;
}

.studnet li {
  height: 63px;
  display: flex;
}

.studnet li.li-checkbox{
  height: 16px;
}

.studnet li .grade-wrapper {
  line-height: 39px;
}

.studnet li>span {
  line-height: 39px;
}

.studnet li>span.label{
  width: 50px;
}

.button-group button {
  margin-right: 10px;
}