.student{
  width: 32%;
  padding: 20px 30px;
  border: 1px solid #c1c1c1;
  border-radius: 15px;
  margin-bottom: 15px;
}

.student li {
  height: 63px;
  display: flex;
}

.student li.li-checkbox{
  height: 16px;
}

.student li .grade-wrapper {
  line-height: 39px;
}

.student li>span {
  line-height: 39px;
}

.student li>span.label{
  width: 50px;
}

.button-group button {
  margin-right: 10px;
}

.modify-modal .ant-modal-body{
  display: flex;
}

.modify-modal .ant-modal-body div{
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}
