body {
  color: #333;
}
ul, menu, dir {
  display: block;
  list-style-type: disc;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0;
}

li {
  list-style-type: none;
}

#root{
  max-width: 1000px;
  padding-bottom: 200px;  
}